<?xml version="1.0" encoding="UTF-8"?>
<configuration_settings>
	<errorlogging>
		<errormessages>
			<error code="1000" message="Required parameter is missing"/>
			<error code="1100" message="Parameter not recognized"/>
			<error code="2000" message="Currency type not recognized"/>
			<error code="2700" message="Required field missing. Please try again."/>
			<error code="2800" message="A user with that name already exists."/>
			<error code="2900" message="Database connection error."/>
			<error code="3000" message="User does not exist"/>
			<error code="3100" message="Passwords don't match"/>
			<error code="3200" message="Error in service"/>
		</errormessages>

		<logpaths>
			<fatal_log_path>./Logs/Currency_Converter_Fatal_Errors.log</fatal_log_path>
			<warning_log_path>./Logs/Currency_Converter_Warning_Errors.log</warning_log_path>
			<notice_log_path>./Logs/Currency_Converter_Notice_Errors.log</notice_log_path>
			<other_log_path>./Logs/Currency_Converter_Other_Errors.log</other_log_path>
		</logpaths>
	</errorlogging>
</configuration_settings>